<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>主页</title>
		<link href="../static/style_book.css" rel="stylesheet">
	</head>
	<body>
		<div class="top">
			<div class="top-ner">
				<div class="welcome">Welcome！</div>
				<div class="dlzc">
					<input type="button" value="登录" onclick="location.href='/login';">
					<input type="button" value="注册" onclick="location.href='/register';">
				</div>
			</div>
		</div>
	    <nav id="navbar">
			<ul>
				<li><a href="#">首页</a></li>
				<li>
					<a href="#">书籍</a>
					<ul>
						<li><a href="#">学术类</a></li>
						<li><a href="#">非学术类</a></li>


					</ul>
					</li>
				<li>
					<a href="#">厨用</a>
					<ul>
						<li><a href="#">调料</a></li>
						<li><a href="#">电器</a></li>
					</ul>
					</li>
				<li><a href="#">电子产品</a>
				<ul>
					<li><a href="#">手机</a></li>
					<li><a href="#">电脑</a></li>
					<li><a href="#">耳机</a></li>
					<li><a href="#">其他</a></li>
				</ul></li>

				<li><a href="#">个人界面</a></li>
				<li><a href="#">关于我们</a></li>



			</ul>
		</nav>

	</body>
</html>